$font-family: 'Open Sans', sans-serif !important;

body{
	background-color: #7c7c7c;
}

.login .x-window-body-default{
	background-color: #7c7c7c;
}

.login {
    top: 0px !important;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
	border-radius: 0 0 8px 8px;
	float: none;
}

.login .login-container{
    margin: auto auto;
    border-radius: 2px;
    top: 20%;
    background: #E3E3E3;
	box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
	float: none;
}

.login .login-container .x-box-inner {
	margin: auto auto;
	background: #E3E3E3;
}
.login .login-container .login-title .x-panel-header{
	background: transparent;
	color: black;
	font-size: 30px;
}
.login .login-container .login-title .x-panel-header .x-title{
    background: transparent;
    font-size: 50px;
    color: #707070;
    height: 80px;
    text-align: center;
}

.login .login-container .usernameField{
	margin: auto auto;
	box-shadow: rgba(0,0,0,0.4) 3px 5px 20px;
}

.login .login-container .passwordField{
	margin: auto auto;
	box-shadow: rgba(0,0,0,0.4) 3px 5px 20px;
}

.login .login-container .loginButton{
	width: 135px !important;
    height: 32px !important;
    margin: auto auto !important;
    right: auto !important;
    left: auto !important;
    position: relative !important;
    display: block;
    border-radius: 50px;
}

.login .login-container .x-btn-default-small{
	background: #027F9D;
	border: none;
}

.login .login-container .x-form-display-field-default{
    margin-top: 18px;
}

// .textfieldHeader{
// 	background: transparent;
// }
.login .x-panel-body-default{
	background: transparent;
}

.login .x-panel-header-default{
	background: transparent;
}

.login .x-form-display-field-default{
	font-size: 20px !important;
}

.login .authors{
    color: white;
    margin: auto auto;
    bottom: 0;
    position: absolute;
}