[class^="moon-"], [class*=" moon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.moon-home:before {
	content: "\e900";
}
.moon-home2:before {
	content: "\e901";
}
.moon-home3:before {
	content: "\e902";
}
.moon-office:before {
	content: "\e903";
}
.moon-newspaper:before {
	content: "\e904";
}
.moon-pencil:before {
	content: "\e905";
}
.moon-pencil2:before {
	content: "\e906";
}
.moon-quill:before {
	content: "\e907";
}
.moon-pen:before {
	content: "\e908";
}
.moon-blog:before {
	content: "\e909";
}
.moon-eyedropper:before {
	content: "\e90a";
}
.moon-droplet:before {
	content: "\e90b";
}
.moon-paint-format:before {
	content: "\e90c";
}
.moon-image:before {
	content: "\e90d";
}
.moon-images:before {
	content: "\e90e";
}
.moon-camera:before {
	content: "\e90f";
}
.moon-headphones:before {
	content: "\e910";
}
.moon-music:before {
	content: "\e911";
}
.moon-play:before {
	content: "\e912";
}
.moon-film:before {
	content: "\e913";
}
.moon-video-camera:before {
	content: "\e914";
}
.moon-dice:before {
	content: "\e915";
}
.moon-pacman:before {
	content: "\e916";
}
.moon-spades:before {
	content: "\e917";
}
.moon-clubs:before {
	content: "\e918";
}
.moon-diamonds:before {
	content: "\e919";
}
.moon-bullhorn:before {
	content: "\e91a";
}
.moon-connection:before {
	content: "\e91b";
}
.moon-podcast:before {
	content: "\e91c";
}
.moon-feed:before {
	content: "\e91d";
}
.moon-mic:before {
	content: "\e91e";
}
.moon-book:before {
	content: "\e91f";
}
.moon-books:before {
	content: "\e920";
}
.moon-library:before {
	content: "\e921";
}
.moon-file-text:before {
	content: "\e922";
}
.moon-profile:before {
	content: "\e923";
}
.moon-file-empty:before {
	content: "\e924";
}
.moon-files-empty:before {
	content: "\e925";
}
.moon-file-text2:before {
	content: "\e926";
}
.moon-file-picture:before {
	content: "\e927";
}
.moon-file-music:before {
	content: "\e928";
}
.moon-file-play:before {
	content: "\e929";
}
.moon-file-video:before {
	content: "\e92a";
}
.moon-file-zip:before {
	content: "\e92b";
}
.moon-copy:before {
	content: "\e92c";
}
.moon-paste:before {
	content: "\e92d";
}
.moon-stack:before {
	content: "\e92e";
}
.moon-folder:before {
	content: "\e92f";
}
.moon-folder-open:before {
	content: "\e930";
}
.moon-folder-plus:before {
	content: "\e931";
}
.moon-folder-minus:before {
	content: "\e932";
}
.moon-folder-download:before {
	content: "\e933";
}
.moon-folder-upload:before {
	content: "\e934";
}
.moon-price-tag:before {
	content: "\e935";
}
.moon-price-tags:before {
	content: "\e936";
}
.moon-barcode:before {
	content: "\e937";
}
.moon-qrcode:before {
	content: "\e938";
}
.moon-ticket:before {
	content: "\e939";
}
.moon-cart:before {
	content: "\e93a";
}
.moon-coin-dollar:before {
	content: "\e93b";
}
.moon-coin-euro:before {
	content: "\e93c";
}
.moon-coin-pound:before {
	content: "\e93d";
}
.moon-coin-yen:before {
	content: "\e93e";
}
.moon-credit-card:before {
	content: "\e93f";
}
.moon-calculator:before {
	content: "\e940";
}
.moon-lifebuoy:before {
	content: "\e941";
}
.moon-phone:before {
	content: "\e942";
}
.moon-phone-hang-up:before {
	content: "\e943";
}
.moon-address-book:before {
	content: "\e944";
}
.moon-envelop:before {
	content: "\e945";
}
.moon-pushpin:before {
	content: "\e946";
}
.moon-location:before {
	content: "\e947";
}
.moon-location2:before {
	content: "\e948";
}
.moon-compass:before {
	content: "\e949";
}
.moon-compass2:before {
	content: "\e94a";
}
.moon-map:before {
	content: "\e94b";
}
.moon-map2:before {
	content: "\e94c";
}
.moon-history:before {
	content: "\e94d";
}
.moon-clock:before {
	content: "\e94e";
}
.moon-clock2:before {
	content: "\e94f";
}
.moon-alarm:before {
	content: "\e950";
}
.moon-bell:before {
	content: "\e951";
}
.moon-stopwatch:before {
	content: "\e952";
}
.moon-calendar:before {
	content: "\e953";
}
.moon-printer:before {
	content: "\e954";
}
.moon-keyboard:before {
	content: "\e955";
}
.moon-display:before {
	content: "\e956";
}
.moon-laptop:before {
	content: "\e957";
}
.moon-mobile:before {
	content: "\e958";
}
.moon-mobile2:before {
	content: "\e959";
}
.moon-tablet:before {
	content: "\e95a";
}
.moon-tv:before {
	content: "\e95b";
}
.moon-drawer:before {
	content: "\e95c";
}
.moon-drawer2:before {
	content: "\e95d";
}
.moon-box-add:before {
	content: "\e95e";
}
.moon-box-remove:before {
	content: "\e95f";
}
.moon-download:before {
	content: "\e960";
}
.moon-upload:before {
	content: "\e961";
}
.moon-floppy-disk:before {
	content: "\e962";
}
.moon-drive:before {
	content: "\e963";
}
.moon-database:before {
	content: "\e964";
}
.moon-undo:before {
	content: "\e965";
}
.moon-redo:before {
	content: "\e966";
}
.moon-undo2:before {
	content: "\e967";
}
.moon-redo2:before {
	content: "\e968";
}
.moon-forward:before {
	content: "\e969";
}
.moon-reply:before {
	content: "\e96a";
}
.moon-bubble:before {
	content: "\e96b";
}
.moon-bubbles:before {
	content: "\e96c";
}
.moon-bubbles2:before {
	content: "\e96d";
}
.moon-bubble2:before {
	content: "\e96e";
}
.moon-bubbles3:before {
	content: "\e96f";
}
.moon-bubbles4:before {
	content: "\e970";
}
.moon-user:before {
	content: "\e971";
}
.moon-users:before {
	content: "\e972";
}
.moon-user-plus:before {
	content: "\e973";
}
.moon-user-minus:before {
	content: "\e974";
}
.moon-user-check:before {
	content: "\e975";
}
.moon-user-tie:before {
	content: "\e976";
}
.moon-quotes-left:before {
	content: "\e977";
}
.moon-quotes-right:before {
	content: "\e978";
}
.moon-hour-glass:before {
	content: "\e979";
}
.moon-spinner:before {
	content: "\e97a";
}
.moon-spinner2:before {
	content: "\e97b";
}
.moon-spinner3:before {
	content: "\e97c";
}
.moon-spinner4:before {
	content: "\e97d";
}
.moon-spinner5:before {
	content: "\e97e";
}
.moon-spinner6:before {
	content: "\e97f";
}
.moon-spinner7:before {
	content: "\e980";
}
.moon-spinner8:before {
	content: "\e981";
}
.moon-spinner9:before {
	content: "\e982";
}
.moon-spinner10:before {
	content: "\e983";
}
.moon-spinner11:before {
	content: "\e984";
}
.moon-binoculars:before {
	content: "\e985";
}
.moon-search:before {
	content: "\e986";
}
.moon-zoom-in:before {
	content: "\e987";
}
.moon-zoom-out:before {
	content: "\e988";
}
.moon-enlarge:before {
	content: "\e989";
}
.moon-shrink:before {
	content: "\e98a";
}
.moon-enlarge2:before {
	content: "\e98b";
}
.moon-shrink2:before {
	content: "\e98c";
}
.moon-key:before {
	content: "\e98d";
}
.moon-key2:before {
	content: "\e98e";
}
.moon-lock:before {
	content: "\e98f";
}
.moon-unlocked:before {
	content: "\e990";
}
.moon-wrench:before {
	content: "\e991";
}
.moon-equalizer:before {
	content: "\e992";
}
.moon-equalizer2:before {
	content: "\e993";
}
.moon-cog:before {
	content: "\e994";
}
.moon-cogs:before {
	content: "\e995";
}
.moon-hammer:before {
	content: "\e996";
}
.moon-magic-wand:before {
	content: "\e997";
}
.moon-aid-kit:before {
	content: "\e998";
}
.moon-bug:before {
	content: "\e999";
}
.moon-pie-chart:before {
	content: "\e99a";
}
.moon-stats-dots:before {
	content: "\e99b";
}
.moon-stats-bars:before {
	content: "\e99c";
}
.moon-stats-bars2:before {
	content: "\e99d";
}
.moon-trophy:before {
	content: "\e99e";
}
.moon-gift:before {
	content: "\e99f";
}
.moon-glass:before {
	content: "\e9a0";
}
.moon-glass2:before {
	content: "\e9a1";
}
.moon-mug:before {
	content: "\e9a2";
}
.moon-spoon-knife:before {
	content: "\e9a3";
}
.moon-leaf:before {
	content: "\e9a4";
}
.moon-rocket:before {
	content: "\e9a5";
}
.moon-meter:before {
	content: "\e9a6";
}
.moon-meter2:before {
	content: "\e9a7";
}
.moon-hammer2:before {
	content: "\e9a8";
}
.moon-fire:before {
	content: "\e9a9";
}
.moon-lab:before {
	content: "\e9aa";
}
.moon-magnet:before {
	content: "\e9ab";
}
.moon-bin:before {
	content: "\e9ac";
}
.moon-bin2:before {
	content: "\e9ad";
}
.moon-briefcase:before {
	content: "\e9ae";
}
.moon-airplane:before {
	content: "\e9af";
}
.moon-truck:before {
	content: "\e9b0";
}
.moon-road:before {
	content: "\e9b1";
}
.moon-accessibility:before {
	content: "\e9b2";
}
.moon-target:before {
	content: "\e9b3";
}
.moon-shield:before {
	content: "\e9b4";
}
.moon-power:before {
	content: "\e9b5";
}
.moon-switch:before {
	content: "\e9b6";
}
.moon-power-cord:before {
	content: "\e9b7";
}
.moon-clipboard:before {
	content: "\e9b8";
}
.moon-list-numbered:before {
	content: "\e9b9";
}
.moon-list:before {
	content: "\e9ba";
}
.moon-list2:before {
	content: "\e9bb";
}
.moon-tree:before {
	content: "\e9bc";
}
.moon-menu:before {
	content: "\e9bd";
}
.moon-menu2:before {
	content: "\e9be";
}
.moon-menu3:before {
	content: "\e9bf";
}
.moon-menu4:before {
	content: "\e9c0";
}
.moon-cloud:before {
	content: "\e9c1";
}
.moon-cloud-download:before {
	content: "\e9c2";
}
.moon-cloud-upload:before {
	content: "\e9c3";
}
.moon-cloud-check:before {
	content: "\e9c4";
}
.moon-download2:before {
	content: "\e9c5";
}
.moon-upload2:before {
	content: "\e9c6";
}
.moon-download3:before {
	content: "\e9c7";
}
.moon-upload3:before {
	content: "\e9c8";
}
.moon-sphere:before {
	content: "\e9c9";
}
.moon-earth:before {
	content: "\e9ca";
}
.moon-link:before {
	content: "\e9cb";
}
.moon-flag:before {
	content: "\e9cc";
}
.moon-attachment:before {
	content: "\e9cd";
}
.moon-eye:before {
	content: "\e9ce";
}
.moon-eye-plus:before {
	content: "\e9cf";
}
.moon-eye-minus:before {
	content: "\e9d0";
}
.moon-eye-blocked:before {
	content: "\e9d1";
}
.moon-bookmark:before {
	content: "\e9d2";
}
.moon-bookmarks:before {
	content: "\e9d3";
}
.moon-sun:before {
	content: "\e9d4";
}
.moon-contrast:before {
	content: "\e9d5";
}
.moon-brightness-contrast:before {
	content: "\e9d6";
}
.moon-star-empty:before {
	content: "\e9d7";
}
.moon-star-half:before {
	content: "\e9d8";
}
.moon-star-full:before {
	content: "\e9d9";
}
.moon-heart:before {
	content: "\e9da";
}
.moon-heart-broken:before {
	content: "\e9db";
}
.moon-man:before {
	content: "\e9dc";
}
.moon-woman:before {
	content: "\e9dd";
}
.moon-man-woman:before {
	content: "\e9de";
}
.moon-happy:before {
	content: "\e9df";
}
.moon-happy2:before {
	content: "\e9e0";
}
.moon-smile:before {
	content: "\e9e1";
}
.moon-smile2:before {
	content: "\e9e2";
}
.moon-tongue:before {
	content: "\e9e3";
}
.moon-tongue2:before {
	content: "\e9e4";
}
.moon-sad:before {
	content: "\e9e5";
}
.moon-sad2:before {
	content: "\e9e6";
}
.moon-wink:before {
	content: "\e9e7";
}
.moon-wink2:before {
	content: "\e9e8";
}
.moon-grin:before {
	content: "\e9e9";
}
.moon-grin2:before {
	content: "\e9ea";
}
.moon-cool:before {
	content: "\e9eb";
}
.moon-cool2:before {
	content: "\e9ec";
}
.moon-angry:before {
	content: "\e9ed";
}
.moon-angry2:before {
	content: "\e9ee";
}
.moon-evil:before {
	content: "\e9ef";
}
.moon-evil2:before {
	content: "\e9f0";
}
.moon-shocked:before {
	content: "\e9f1";
}
.moon-shocked2:before {
	content: "\e9f2";
}
.moon-baffled:before {
	content: "\e9f3";
}
.moon-baffled2:before {
	content: "\e9f4";
}
.moon-confused:before {
	content: "\e9f5";
}
.moon-confused2:before {
	content: "\e9f6";
}
.moon-neutral:before {
	content: "\e9f7";
}
.moon-neutral2:before {
	content: "\e9f8";
}
.moon-hipster:before {
	content: "\e9f9";
}
.moon-hipster2:before {
	content: "\e9fa";
}
.moon-wondering:before {
	content: "\e9fb";
}
.moon-wondering2:before {
	content: "\e9fc";
}
.moon-sleepy:before {
	content: "\e9fd";
}
.moon-sleepy2:before {
	content: "\e9fe";
}
.moon-frustrated:before {
	content: "\e9ff";
}
.moon-frustrated2:before {
	content: "\ea00";
}
.moon-crying:before {
	content: "\ea01";
}
.moon-crying2:before {
	content: "\ea02";
}
.moon-point-up:before {
	content: "\ea03";
}
.moon-point-right:before {
	content: "\ea04";
}
.moon-point-down:before {
	content: "\ea05";
}
.moon-point-left:before {
	content: "\ea06";
}
.moon-warning:before {
	content: "\ea07";
}
.moon-notification:before {
	content: "\ea08";
}
.moon-question:before {
	content: "\ea09";
}
.moon-plus:before {
	content: "\ea0a";
}
.moon-minus:before {
	content: "\ea0b";
}
.moon-info:before {
	content: "\ea0c";
}
.moon-cancel-circle:before {
	content: "\ea0d";
}
.moon-blocked:before {
	content: "\ea0e";
}
.moon-cross:before {
	content: "\ea0f";
}
.moon-checkmark:before {
	content: "\ea10";
}
.moon-checkmark2:before {
	content: "\ea11";
}
.moon-spell-check:before {
	content: "\ea12";
}
.moon-enter:before {
	content: "\ea13";
}
.moon-exit:before {
	content: "\ea14";
}
.moon-play2:before {
	content: "\ea15";
}
.moon-pause:before {
	content: "\ea16";
}
.moon-stop:before {
	content: "\ea17";
}
.moon-previous:before {
	content: "\ea18";
}
.moon-next:before {
	content: "\ea19";
}
.moon-backward:before {
	content: "\ea1a";
}
.moon-forward2:before {
	content: "\ea1b";
}
.moon-play3:before {
	content: "\ea1c";
}
.moon-pause2:before {
	content: "\ea1d";
}
.moon-stop2:before {
	content: "\ea1e";
}
.moon-backward2:before {
	content: "\ea1f";
}
.moon-forward3:before {
	content: "\ea20";
}
.moon-first:before {
	content: "\ea21";
}
.moon-last:before {
	content: "\ea22";
}
.moon-previous2:before {
	content: "\ea23";
}
.moon-next2:before {
	content: "\ea24";
}
.moon-eject:before {
	content: "\ea25";
}
.moon-volume-high:before {
	content: "\ea26";
}
.moon-volume-medium:before {
	content: "\ea27";
}
.moon-volume-low:before {
	content: "\ea28";
}
.moon-volume-mute:before {
	content: "\ea29";
}
.moon-volume-mute2:before {
	content: "\ea2a";
}
.moon-volume-increase:before {
	content: "\ea2b";
}
.moon-volume-decrease:before {
	content: "\ea2c";
}
.moon-loop:before {
	content: "\ea2d";
}
.moon-loop2:before {
	content: "\ea2e";
}
.moon-infinite:before {
	content: "\ea2f";
}
.moon-shuffle:before {
	content: "\ea30";
}
.moon-arrow-up-left:before {
	content: "\ea31";
}
.moon-arrow-up:before {
	content: "\ea32";
}
.moon-arrow-up-right:before {
	content: "\ea33";
}
.moon-arrow-right:before {
	content: "\ea34";
}
.moon-arrow-down-right:before {
	content: "\ea35";
}
.moon-arrow-down:before {
	content: "\ea36";
}
.moon-arrow-down-left:before {
	content: "\ea37";
}
.moon-arrow-left:before {
	content: "\ea38";
}
.moon-arrow-up-left2:before {
	content: "\ea39";
}
.moon-arrow-up2:before {
	content: "\ea3a";
}
.moon-arrow-up-right2:before {
	content: "\ea3b";
}
.moon-arrow-right2:before {
	content: "\ea3c";
}
.moon-arrow-down-right2:before {
	content: "\ea3d";
}
.moon-arrow-down2:before {
	content: "\ea3e";
}
.moon-arrow-down-left2:before {
	content: "\ea3f";
}
.moon-arrow-left2:before {
	content: "\ea40";
}
.moon-circle-up:before {
	content: "\ea41";
}
.moon-circle-right:before {
	content: "\ea42";
}
.moon-circle-down:before {
	content: "\ea43";
}
.moon-circle-left:before {
	content: "\ea44";
}
.moon-tab:before {
	content: "\ea45";
}
.moon-move-up:before {
	content: "\ea46";
}
.moon-move-down:before {
	content: "\ea47";
}
.moon-sort-alpha-asc:before {
	content: "\ea48";
}
.moon-sort-alpha-desc:before {
	content: "\ea49";
}
.moon-sort-numeric-asc:before {
	content: "\ea4a";
}
.moon-sort-numberic-desc:before {
	content: "\ea4b";
}
.moon-sort-amount-asc:before {
	content: "\ea4c";
}
.moon-sort-amount-desc:before {
	content: "\ea4d";
}
.moon-command:before {
	content: "\ea4e";
}
.moon-shift:before {
	content: "\ea4f";
}
.moon-ctrl:before {
	content: "\ea50";
}
.moon-opt:before {
	content: "\ea51";
}
.moon-checkbox-checked:before {
	content: "\ea52";
}
.moon-checkbox-unchecked:before {
	content: "\ea53";
}
.moon-radio-checked:before {
	content: "\ea54";
}
.moon-radio-checked2:before {
	content: "\ea55";
}
.moon-radio-unchecked:before {
	content: "\ea56";
}
.moon-crop:before {
	content: "\ea57";
}
.moon-make-group:before {
	content: "\ea58";
}
.moon-ungroup:before {
	content: "\ea59";
}
.moon-scissors:before {
	content: "\ea5a";
}
.moon-filter:before {
	content: "\ea5b";
}
.moon-font:before {
	content: "\ea5c";
}
.moon-ligature:before {
	content: "\ea5d";
}
.moon-ligature2:before {
	content: "\ea5e";
}
.moon-text-height:before {
	content: "\ea5f";
}
.moon-text-width:before {
	content: "\ea60";
}
.moon-font-size:before {
	content: "\ea61";
}
.moon-bold:before {
	content: "\ea62";
}
.moon-underline:before {
	content: "\ea63";
}
.moon-italic:before {
	content: "\ea64";
}
.moon-strikethrough:before {
	content: "\ea65";
}
.moon-omega:before {
	content: "\ea66";
}
.moon-sigma:before {
	content: "\ea67";
}
.moon-page-break:before {
	content: "\ea68";
}
.moon-superscript:before {
	content: "\ea69";
}
.moon-subscript:before {
	content: "\ea6a";
}
.moon-superscript2:before {
	content: "\ea6b";
}
.moon-subscript2:before {
	content: "\ea6c";
}
.moon-text-color:before {
	content: "\ea6d";
}
.moon-pagebreak:before {
	content: "\ea6e";
}
.moon-clear-formatting:before {
	content: "\ea6f";
}
.moon-table:before {
	content: "\ea70";
}
.moon-table2:before {
	content: "\ea71";
}
.moon-insert-template:before {
	content: "\ea72";
}
.moon-pilcrow:before {
	content: "\ea73";
}
.moon-ltr:before {
	content: "\ea74";
}
.moon-rtl:before {
	content: "\ea75";
}
.moon-section:before {
	content: "\ea76";
}
.moon-paragraph-left:before {
	content: "\ea77";
}
.moon-paragraph-center:before {
	content: "\ea78";
}
.moon-paragraph-right:before {
	content: "\ea79";
}
.moon-paragraph-justify:before {
	content: "\ea7a";
}
.moon-indent-increase:before {
	content: "\ea7b";
}
.moon-indent-decrease:before {
	content: "\ea7c";
}
.moon-share:before {
	content: "\ea7d";
}
.moon-new-tab:before {
	content: "\ea7e";
}
.moon-embed:before {
	content: "\ea7f";
}
.moon-embed2:before {
	content: "\ea80";
}
.moon-terminal:before {
	content: "\ea81";
}
.moon-share2:before {
	content: "\ea82";
}
.moon-mail:before {
	content: "\ea83";
}
.moon-mail2:before {
	content: "\ea84";
}
.moon-mail3:before {
	content: "\ea85";
}
.moon-mail4:before {
	content: "\ea86";
}
.moon-google:before {
	content: "\ea87";
}
.moon-google-plus:before {
	content: "\ea88";
}
.moon-google-plus2:before {
	content: "\ea89";
}
.moon-google-plus3:before {
	content: "\ea8a";
}
.moon-google-drive:before {
	content: "\ea8b";
}
.moon-facebook:before {
	content: "\ea8c";
}
.moon-facebook2:before {
	content: "\ea8d";
}
.moon-facebook3:before {
	content: "\ea8e";
}
.moon-ello:before {
	content: "\ea8f";
}
.moon-instagram:before {
	content: "\ea90";
}
.moon-twitter:before {
	content: "\ea91";
}
.moon-twitter2:before {
	content: "\ea92";
}
.moon-twitter3:before {
	content: "\ea93";
}
.moon-feed2:before {
	content: "\ea94";
}
.moon-feed3:before {
	content: "\ea95";
}
.moon-feed4:before {
	content: "\ea96";
}
.moon-youtube:before {
	content: "\ea97";
}
.moon-youtube2:before {
	content: "\ea98";
}
.moon-youtube3:before {
	content: "\ea99";
}
.moon-youtube4:before {
	content: "\ea9a";
}
.moon-twitch:before {
	content: "\ea9b";
}
.moon-vimeo:before {
	content: "\ea9c";
}
.moon-vimeo2:before {
	content: "\ea9d";
}
.moon-vimeo3:before {
	content: "\ea9e";
}
.moon-lanyrd:before {
	content: "\ea9f";
}
.moon-flickr:before {
	content: "\eaa0";
}
.moon-flickr2:before {
	content: "\eaa1";
}
.moon-flickr3:before {
	content: "\eaa2";
}
.moon-flickr4:before {
	content: "\eaa3";
}
.moon-picassa:before {
	content: "\eaa4";
}
.moon-picassa2:before {
	content: "\eaa5";
}
.moon-dribbble:before {
	content: "\eaa6";
}
.moon-dribbble2:before {
	content: "\eaa7";
}
.moon-dribbble3:before {
	content: "\eaa8";
}
.moon-forrst:before {
	content: "\eaa9";
}
.moon-forrst2:before {
	content: "\eaaa";
}
.moon-deviantart:before {
	content: "\eaab";
}
.moon-deviantart2:before {
	content: "\eaac";
}
.moon-steam:before {
	content: "\eaad";
}
.moon-steam2:before {
	content: "\eaae";
}
.moon-dropbox:before {
	content: "\eaaf";
}
.moon-onedrive:before {
	content: "\eab0";
}
.moon-github:before {
	content: "\eab1";
}
.moon-github2:before {
	content: "\eab2";
}
.moon-github3:before {
	content: "\eab3";
}
.moon-github4:before {
	content: "\eab4";
}
.moon-github5:before {
	content: "\eab5";
}
.moon-wordpress:before {
	content: "\eab6";
}
.moon-wordpress2:before {
	content: "\eab7";
}
.moon-joomla:before {
	content: "\eab8";
}
.moon-blogger:before {
	content: "\eab9";
}
.moon-blogger2:before {
	content: "\eaba";
}
.moon-tumblr:before {
	content: "\eabb";
}
.moon-tumblr2:before {
	content: "\eabc";
}
.moon-yahoo:before {
	content: "\eabd";
}
.moon-tux:before {
	content: "\eabe";
}
.moon-apple:before {
	content: "\eabf";
}
.moon-finder:before {
	content: "\eac0";
}
.moon-android:before {
	content: "\eac1";
}
.moon-windows:before {
	content: "\eac2";
}
.moon-windows8:before {
	content: "\eac3";
}
.moon-soundcloud:before {
	content: "\eac4";
}
.moon-soundcloud2:before {
	content: "\eac5";
}
.moon-skype:before {
	content: "\eac6";
}
.moon-reddit:before {
	content: "\eac7";
}
.moon-linkedin:before {
	content: "\eac8";
}
.moon-linkedin2:before {
	content: "\eac9";
}
.moon-lastfm:before {
	content: "\eaca";
}
.moon-lastfm2:before {
	content: "\eacb";
}
.moon-delicious:before {
	content: "\eacc";
}
.moon-stumbleupon:before {
	content: "\eacd";
}
.moon-stumbleupon2:before {
	content: "\eace";
}
.moon-stackoverflow:before {
	content: "\eacf";
}
.moon-pinterest:before {
	content: "\ead0";
}
.moon-pinterest2:before {
	content: "\ead1";
}
.moon-xing:before {
	content: "\ead2";
}
.moon-xing2:before {
	content: "\ead3";
}
.moon-flattr:before {
	content: "\ead4";
}
.moon-foursquare:before {
	content: "\ead5";
}
.moon-paypal:before {
	content: "\ead6";
}
.moon-paypal2:before {
	content: "\ead7";
}
.moon-paypal3:before {
	content: "\ead8";
}
.moon-yelp:before {
	content: "\ead9";
}
.moon-file-pdf:before {
	content: "\eada";
}
.moon-file-openoffice:before {
	content: "\eadb";
}
.moon-file-word:before {
	content: "\eadc";
}
.moon-file-excel:before {
	content: "\eadd";
}
.moon-libreoffice:before {
	content: "\eade";
}
.moon-html5:before {
	content: "\eadf";
}
.moon-html52:before {
	content: "\eae0";
}
.moon-css3:before {
	content: "\eae1";
}
.moon-git:before {
	content: "\eae2";
}
.moon-svg:before {
	content: "\eae3";
}
.moon-codepen:before {
	content: "\eae4";
}
.moon-chrome:before {
	content: "\eae5";
}
.moon-firefox:before {
	content: "\eae6";
}
.moon-IE:before {
	content: "\eae7";
}
.moon-opera:before {
	content: "\eae8";
}
.moon-safari:before {
	content: "\eae9";
}
.moon-IcoMoon:before {
	content: "\eaea";
}
